/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-title {
	width: 60%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}


.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}
.ph-icon {
	margin: 0;
	padding: 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.ph-icon-inside.thumbnail {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 0px;  
    border-radius: 0px;
	background: #fdfdfd;
}
.ph-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.ph-icon-inside.thumbnail span {
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 50%;
}
.ph-cpanel-right {
	float: right;
	width: 50%;
}

#configTabs li a img {
	margin-top: -3px;
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.icon-multiple:before {
	content: url('../../images/administrator/icon-12-multiple.png');
}

.icon-authorizeall:before {
	content: url('../../images/administrator/icon-12-authorizeall.png');
}

.icon-disapprove:before {
	content: url('../../images/administrator/icon-12-disapprove.png');
}
.icon-approve:before {
	content: url('../../images/administrator/icon-12-approve.png');
}

.icon-reset:before {
	content: url('../../images/administrator/icon-12-reset.png');
}

.icon-back:before {
	content: url('../../images/administrator/icon-12-back.png');
}

/* -- Codemirror Editor  ----------- */
div.editor-border /*, div.CodeMirror-wrapping */ {
	border: 1px solid #ccc;
	background-color: #ffffff;
}
#ph-editor div.CodeMirror-wrapping {
	height: 400px !important;
}




div.icon-48-phocadownload {
	background: url('../../images/administrator/icon-48-phocadownload.png') no-repeat left;
}
div.icon-48-info {
	background: url('../../images/administrator/icon-48-info.png') no-repeat left;
}
div.icon-48-tags {
	background: url('../../images/administrator/icon-48-tags.png') no-repeat left;
}
div.icon-48-layout {
	background: url('../../images/administrator/icon-48-layout.png') no-repeat left;
}
div.icon-48-category {
	background: url('../../images/administrator/icon-48-cats.png') no-repeat left;
}

div.icon-48-section {
	background: url('../../images/administrator/icon-48-sec.png') no-repeat left;
}
div.icon-48-settings {
	background: url('../../images/administrator/icon-48-set.png') no-repeat left;
}
div.icon-48-file {
	background: url('../../images/administrator/icon-48-file.png') no-repeat left;
}
div.icon-48-statistics {
	background: url('../../images/administrator/icon-48-stat.png') no-repeat left;
}
div.icon-48-userstat {
	background: url('../../images/administrator/icon-48-user-stat.png') no-repeat left;
}
div.icon-48-license {
	background: url('../../images/administrator/icon-48-lic.png') no-repeat left;
}
div.icon-48-users {
	background: url('../../images/administrator/icon-48-users.png') no-repeat left;
}

div.icon-48-multiple {
	background: url('../../images/administrator/icon-48-pd-multiple.png') no-repeat left;
}

div.icon-48-vote-file {
	background: url('../../images/administrator/icon-48-vote-file.png') no-repeat left;
}
span.icon-32-reset {
	background: url('../../images/administrator/icon-32-reset.png') no-repeat left;
}
span.icon-32-authorizeall {
	background: url('../../images/administrator/icon-32-authorizeall.png') no-repeat left;
}
span.icon-32-multiple {
	background: url('../../images/administrator/icon-32-multiple.png') no-repeat left;
}

span.icon-32-disapprove {
	background: url('../../images/administrator/icon-32-disapprove.png') no-repeat left;
}
span.icon-32-approve {
	background: url('../../images/administrator/icon-32-approve.png') no-repeat left;
}

/* Phoca Download Editor Button Plugin */
.plg-button-tbl {
	width: 100%;
}
.plg-button-tbl tr {
	border-bottom: 1px solid #f0f0f0;
}

.plg-button-tbl tr td {

	padding-top:5px;
	padding-bottom: 5px;
}

.plg-button-insert {
	margin-right: 5px;
}

#phocadownload-links .icon-16-edb-sections {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-sections.png') no-repeat 5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links .icon-16-edb-section {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-section.png') no-repeat  5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links .icon-16-edb-category {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-category.png') no-repeat  5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}

#phocadownload-links .icon-16-edb-categories {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-categories.png') no-repeat  5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links .icon-16-edb-file {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-file.png') no-repeat 5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links .icon-16-edb-play {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-play.png') no-repeat 5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links .icon-16-edb-preview {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-preview.png') no-repeat 5px center;
	list-style-type:none;
	padding: 10px 10px 10px 30px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}
#phocadownload-links a {
	text-decoration:underline;
}

#phocadownload-links .icon-16-edb-back {
	background: #fdfdfd url('../../images/administrator/icon-16-edb-back.png') no-repeat 5px center;
	list-style-type:none;
	padding: 10px 10px 10px 26px;
	margin:5px;
	border:1px solid #ccc;
	display: block;
	width: auto;
}

#phocadownload-links th a {
	text-decoration:none;
}

.notapproved {
	background:#FFC2C2;
	border:1px solid #bf3030;
	color: #a60000;
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
	color: #777;
}
.cpanel-right {
	color: #777;
}

.pgerrormsg,
.notapproved {
	background:#FFC2C2;
	border:1px solid #bf3030;
	color: #a60000;
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
}
.pgsuccessmsg {
	background:#ceffc1;
	border:1px solid #4ebd30;
	color: #23a600;
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
}
.pgunsetmsg {
	background:#fff2c1;
	border:1px solid #bda130;
	color: #a68400;
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
}

#phocadownloadmanager {
	font-family: sans, arial;
}
#phocadownloadmanager a img {

	border: none;
}

#phocadownloadmanager .pd-admin-path {
	border: 1px solid #ccc;
	background: #f0f0f0;
	padding: 10px;
	margin:5px 0px;
}
#phocadownloadmanager .pd-admin-files {
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px;
	margin:5px 0px;
}

#phocadownloadmanager .pd-admin-file {
	padding:3px 0px;
	margin:0px;
}
#phocadownloadmanager .pd-admin-file-checkbox {
	padding:3px 0px;
	margin:7px 0px;
	background: #f9f9f9;
	border-bottom: 1px solid #f0f0f0
}


/* Rating */
/* Voting - style by http://www.jluvip.com/works/css/starvote/index2-1.html*/
 .star-rating{
	list-style:none;
	margin: 0px;
	margin-top:5px;
	margin-bottom:5px;
	padding:0px;
	width: 110px;
	height: 22px;
	position: relative;
	background: url(images/icon-voting.png) top left repeat-x;
}

 .star-rating li{
	list-style-type:none;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}

 .star-rating li a{
	display:block;
	width:22px;
	height: 22px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
 .star-rating li a:hover{
	background: url(images/icon-voting.png) left center;
	z-index: 2;
	left: 0px;
}
 .star-rating a.star1{
	left: 0px;
}
 .star-rating a.star1:hover{
	width:22px;
}
 .star-rating a.stars2{
	left:22px;
}
 .star-rating a.stars2:hover{
	width: 44px;
}
 .star-rating a.stars3{
	left: 44px;
}
 .star-rating a.stars3:hover{
	width: 66px;
}
 .star-rating a.stars4{
	left: 66px;
}
 .star-rating a.stars4:hover{
	width: 88px;
}
 .star-rating a.stars5{
	left: 88px;
}
 .star-rating a.stars5:hover{
	width: 110px;
}
 .star-rating li.current-rating{
	background: url(images/icon-voting.png) left bottom;
	position: absolute;
	height: 22px;
	/*width:77px;*/
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

/* Voting small */
.star-rating-box-small {
	border:		1px solid #e7e7e7;
	padding:	1px;
	margin:		0px;
	background:	#fff;
}

.star-rating-small{
	list-style:none;
	margin: 0px;
	margin-top:5px;
	margin-bottom:5px;
	padding:0px;
	width: 80px;
	height: 16px;
	position: relative;
	background: url(images/icon-voting-small.png) top left repeat-x;
}

.star-rating-small li{
	list-style-type:none;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}

.star-rating-small li a{
	display:block;
	width:16px;
	height: 16px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating-small li a:hover{
	background: url(images/icon-voting-small.png) left center;
	z-index: 2;
	left: 0px;
}
.star-rating-small a.star1{
	left: 0px;
}
.star-rating-small a.star1:hover{
	width:16px;
}
.star-rating-small a.stars2{
	left:16px;
}
.star-rating-small a.stars2:hover{
	width: 32px;
}
.star-rating-small a.stars3{
	left: 32px;
}
.star-rating-small a.stars3:hover{
	width: 48px;
}
.star-rating-small a.stars4{
	left: 48px;
}
.star-rating-small a.stars4:hover{
	width: 64px;
}
.star-rating-small a.stars5{
	left: 64px;
}
.star-rating-small a.stars5:hover{
	width: 80px;
}
.star-rating-small li.current-rating{
	background: url(images/icon-voting-small.png) left bottom;
	position: absolute;
	height: 16px;
	/*width:77px;*/
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

.warning {
	padding: 5px;
	border: 1px solid #FF8E6B;
	background: #FFDCD1;
	color: #FF3F05;
	margin: 10px 0px;
}

.pdview {
	padding: 0px 5px 10px 5px;
	border: 1px solid #ccc;
	background: #fff;
	margin: 5px 0px;
}
.adminForm,
#adminForm {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}

.ph-btn-toolbar-2 {
	clear: right;
	padding-top: 10px;
}
.ph-select-status {
	padding-left: 5px;
}

.ph-cpanel-logo img {
	transform: scale(0.6);
	transform-origin: 0 50%;
}

.ph-img-table a img {
	max-width: fit-content;
}

.plupload_filelist .plupload_file_name {
    width: auto;
}

#phocadownloadfiles .modal-body,
#phocadownloadcats .modal-body {
	padding: 10px;
}

.ph-wrap-12 {
	overflow-wrap: break-word;
}
@media (max-width: 768px) {
	.ph-wrap-12 { max-width: 6em;}
}
@media (max-width: 1366px) {
	.ph-wrap-12 { max-width: 12em;}
}
@media  (min-width: 1367px) {
	.ph-wrap-12 { max-width: 24em;}
}

